In [11]:
import os
import re
import zipfile
import subprocess
import pandas as pd
import numpy as np
from datetime import datetime

In [12]:
DATASET = 'SVRec' 
RAW_PATH = os.path.join('./', DATASET)

RANDOM_SEED = 0
NEG_ITEMS = 99

# Load Data

1. Load interaction data and item metadata
2. Filter out items with less than 5 interactions
3. Calculate basic statistics

In [13]:
if not os.path.exists(RAW_PATH):
    subprocess.call('mkdir ' + RAW_PATH, shell=True)

inter_df = pd.read_csv('/work/hzy/douyin/work_202306/immerse_rec/data_organize/SVRec.inter',sep='\t')
item_df = pd.read_csv('/work/hzy/douyin/work_202306/immerse_rec/data_organize/SVRec.item',sep='\t')
user_df = pd.read_csv('/work/hzy/douyin/work_202306/immerse_rec/data_organize/SVRec.user',sep='\t')

In [14]:
print(inter_df.columns)
inter_df

Index(['user_id:token', 'item_id:token', 'start_ts:float', 'end_ts:float',
       'session_id:float', 'video_order:float', 'rating_immersion:float',
       'view_duration:float', 'view_ratio:float', 'rating_like:float'],
      dtype='object')

,user_id:token,item_id:token,start_ts:float,end_ts:float,session_id:float,video_order:float,rating_immersion:float,view_duration:float,view_ratio:float,rating_like:float
0,0,0,1667721879363,1667721894899,1,1,1,15.536,0.267862,0
1,0,1,1667721894938,1667721907040,1,2,2,12.102,0.403400,0
2,0,2,1667721907073,1667721937179,1,3,2,30.106,0.614408,0
3,0,3,1667721937188,1667721948699,1,4,1,11.511,0.239812,0
4,0,4,1667721948710,1667721955060,1,5,1,6.350,0.204839,0
...,...,...,...,...,...,...,...,...,...,...
3652,29,2679,1678614530767,1678614551372,5,90,4,20.605,0.069847,0
3653,29,2680,1678614574605,1678614592937,5,91,4,18.332,0.241211,0
3654,29,2681,1678614592954,1678614612140,5,92,1,19.186,0.504895,0
3655,29,2682,1678614612155,1678614626363,5,93,3,14.208,1.092923,0
3656,29,2683,1678614626373,1678614646955,5,94,4,20.582,1.871091,1

In [15]:
# TODO：确定以哪列作为优化目标
data_df = inter_df[['user_id:token', 'item_id:token', 'rating_like:float', 'start_ts:float']]
data_df.columns = ['user_id', 'item_id', 'label', 'time']
data_df

      user_id  item_id  label           time
0           0        0      0  1667721879363
1           0        1      0  1667721894938
2           0        2      0  1667721907073
3           0        3      0  1667721937188
4           0        4      0  1667721948710
...       ...      ...    ...            ...
3652       29     2679      0  1678614530767
3653       29     2680      0  1678614574605
3654       29     2681      0  1678614592954
3655       29     2682      0  1678614612155
3656       29     2683      1  1678614626373

[3657 rows x 4 columns]

In [16]:
print(item_df.columns)
item_df

Index(['item_id:token', 'author_id:token', 'item_label:token',
       'item_duration:float', 'vv_all:float', 'like_cnt:float'],
      dtype='object')

,item_id:token,author_id:token,item_label:token,item_duration:float,vv_all:float,like_cnt:float
0,0,2,The police station,58,2739780,28361
1,1,3,A little game _ king glory,30,24236,83
2,2,4,The dog,49,3866245,82631
3,3,5,Stone sea shells,48,15475,43
4,4,6,News interview,31,136148,1898
...,...,...,...,...,...,...
2679,2679,3900,speech,295,5186939,104918
2680,2680,3719,crosstalk,76,5964301,48019
2681,2681,3901,The film and television play,38,4743061,282844
2682,2682,3902,News interview,13,2299271,12634
2683,2683,3903,Stop motion animation,11,3876103,112832

In [17]:
meta_df = item_df[['item_id:token', 'author_id:token', 'item_label:token', 'item_duration:float', 'vv_all:float', 'like_cnt:float']]

# The header should start with i_ and the values need to be discrete and finite.
meta_df.columns = ['item_id', 'i_authorid', 'i_label', 'i_duration', 'i_vvall','i_likecnt']
meta_df

,item_id,i_authorid,i_label,i_duration,i_vvall,i_likecnt
0,0,2,The police station,58,2739780,28361
1,1,3,A little game _ king glory,30,24236,83
2,2,4,The dog,49,3866245,82631
3,3,5,Stone sea shells,48,15475,43
4,4,6,News interview,31,136148,1898
...,...,...,...,...,...,...
2679,2679,3900,speech,295,5186939,104918
2680,2680,3719,crosstalk,76,5964301,48019
2681,2681,3901,The film and television play,38,4743061,282844
2682,2682,3902,News interview,13,2299271,12634
2683,2683,3903,Stop motion animation,11,3876103,112832

### Statistics

In [18]:
n_users = data_df['user_id'].value_counts().size
n_items = data_df['item_id'].value_counts().size
n_clicks = len(data_df)
min_time = data_df['time'].min()
max_time = data_df['time'].max()

In [19]:
time_format = '%Y-%m-%d'

print('# Users:', n_users)
print('# Items:', n_items)
print('# Interactions:', n_clicks)
print('Time Span: {}/{}'.format(
    datetime.utcfromtimestamp(int(min_time/1000)).strftime(time_format),
    datetime.utcfromtimestamp(int(max_time/1000)).strftime(time_format))
)

# Users: 30
# Items: 2684
# Interactions: 3657
Time Span: 2022-11-06/2023-03-12

# Build Dataset

### Interaction data

In [20]:
np.random.seed(RANDOM_SEED)

In [21]:
out_df = data_df[['user_id', 'item_id', 'time']]
out_df = out_df.drop_duplicates(['user_id', 'item_id', 'time'])
out_df.sort_values(by=['time', 'user_id'], kind='mergesort', inplace=True)
out_df = out_df.reset_index(drop=True)
out_df

      user_id  item_id           time
0           0        0  1667721879363
1           0        1  1667721894938
2           0        2  1667721907073
3           0        3  1667721937188
4           0        4  1667721948710
...       ...      ...            ...
3652       29     2679  1678614530767
3653       29     2680  1678614574605
3654       29     2681  1678614592954
3655       29     2682  1678614612155
3656       29     2683  1678614626373

[3657 rows x 3 columns]

In [22]:
# reindex (start from 1)

uids = sorted(out_df['user_id'].unique())
user2id = dict(zip(uids, range(1, len(uids) + 1)))
iids = sorted(out_df['item_id'].unique())
item2id = dict(zip(iids, range(1, len(iids) + 1)))

out_df['user_id'] = out_df['user_id'].apply(lambda x: user2id[x])
out_df['item_id'] = out_df['item_id'].apply(lambda x: item2id[x])
out_df

      user_id  item_id           time
0           1        1  1667721879363
1           1        2  1667721894938
2           1        3  1667721907073
3           1        4  1667721937188
4           1        5  1667721948710
...       ...      ...            ...
3652       30     2680  1678614530767
3653       30     2681  1678614574605
3654       30     2682  1678614592954
3655       30     2683  1678614612155
3656       30     2684  1678614626373

[3657 rows x 3 columns]

In [23]:
# leave one out spliting
# set the length of dev and test
N=10

clicked_item_set = dict()
for user_id, seq_df in out_df.groupby('user_id'):
    clicked_item_set[user_id] = set(seq_df['item_id'].values.tolist())
    
def generate_dev_test(data_df):
    result_dfs = []
    n_items = data_df['item_id'].value_counts().size
    for idx in range(2):
        result_df = data_df.groupby('user_id').tail(N).copy()
        data_df = data_df.drop(result_df.index)
        neg_items = np.random.randint(1, n_items + 1, (len(result_df), NEG_ITEMS))
        for i, uid in enumerate(result_df['user_id'].values):
            user_clicked = clicked_item_set[uid]
            for j in range(len(neg_items[i])):
                while neg_items[i][j] in user_clicked:
                    neg_items[i][j] = np.random.randint(1, n_items + 1)
        result_df['neg_items'] = neg_items.tolist()
        result_dfs.append(result_df)
    return result_dfs, data_df

In [24]:
leave_df = out_df.groupby('user_id').head(1)
data_df = out_df.drop(leave_df.index)

[test_df, dev_df], data_df = generate_dev_test(data_df)
train_df = pd.concat([leave_df, data_df]).sort_index()

len(train_df), len(dev_df), len(test_df)

(3057, 300, 300)

In [25]:
train_df

      user_id  item_id           time
0           1        1  1667721879363
1           1        2  1667721894938
2           1        3  1667721907073
3           1        4  1667721937188
4           1        5  1667721948710
...       ...      ...            ...
3632       30     2661  1678613579561
3633       30     2555  1678613592745
3634       30     2662  1678613594930
3635       30     2663  1678613622251
3636       30     2664  1678613639358

[3057 rows x 3 columns]

In [26]:
dev_df

,user_id,item_id,time,neg_items
129,1,130,1667727092545,"[707, 811, 320, 2064, 1543, 1765, 1494, 1228, ..."
130,1,131,1667727118957,"[1823, 241, 1761, 1149, 552, 492, 1982, 1890, ..."
131,1,132,1667727122983,"[1487, 893, 711, 2008, 896, 794, 1821, 1734, 5..."
132,1,133,1667727126666,"[1113, 2218, 2654, 2313, 447, 1418, 164, 155, ..."
133,1,134,1667727132540,"[153, 547, 1728, 1752, 213, 1378, 722, 247, 21..."
...,...,...,...,...
3642,30,2670,1678614301897,"[1348, 591, 274, 1532, 147, 1116, 1128, 1765, ..."
3643,30,2671,1678614405019,"[1696, 788, 1353, 2009, 1202, 1795, 6, 1287, 1..."
3644,30,2672,1678614415228,"[1107, 479, 1819, 954, 347, 970, 162, 242, 140..."
3645,30,2673,1678614420983,"[58, 1798, 1899, 1560, 1446, 1591, 1089, 1312,..."
3646,30,2674,1678614438468,"[810, 1391, 1670, 256, 1040, 603, 163, 323, 16..."

In [27]:
test_df

,user_id,item_id,time,neg_items
139,1,140,1667727432174,"[2608, 1654, 836, 764, 1732, 1034, 278, 1779, ..."
140,1,141,1667727466594,"[2419, 556, 955, 2072, 1724, 171, 2426, 2147, ..."
141,1,142,1667727473928,"[624, 771, 1564, 1242, 822, 308, 1199, 1173, 1..."
142,1,143,1667727493878,"[585, 2504, 1112, 1618, 1145, 1909, 733, 933, ..."
143,1,144,1667727505668,"[2503, 1290, 604, 1444, 2388, 1869, 1299, 2275..."
...,...,...,...,...
3652,30,2680,1678614530767,"[1875, 622, 972, 1318, 721, 2284, 1309, 771, 2..."
3653,30,2681,1678614574605,"[2451, 2519, 1936, 824, 463, 637, 2132, 990, 2..."
3654,30,2682,1678614592954,"[581, 1492, 1818, 1341, 1549, 1075, 1860, 1604..."
3655,30,2683,1678614612155,"[928, 2469, 306, 2495, 1771, 2086, 1650, 481, ..."
3656,30,2684,1678614626373,"[2079, 801, 2213, 1427, 2139, 1828, 1585, 1664..."

In [28]:
# save results

train_df.to_csv(os.path.join(RAW_PATH, 'train.csv'), sep='\t', index=False)
dev_df.to_csv(os.path.join(RAW_PATH, 'dev.csv'), sep='\t', index=False)
test_df.to_csv(os.path.join(RAW_PATH, 'test.csv'), sep='\t', index=False)

### Item Metadata

In [30]:
meta_df['item_id'] = meta_df['item_id'].apply(lambda x: item2id[x])

seps = meta_df['i_label'].unique()
# year_dict = {}
# for i, sep in enumerate(seps[:-1]):
#     for j in range(seps[i], seps[i + 1]):
#         year_dict[j] = i + 1
# item_df['i_year'] = item_df['i_year'].apply(lambda x: year_dict[x] if x > 0 else 0)
    
# item_df.head()
seps

array(['The police station', 'A little game _ king glory', 'The dog',
       'Stone sea shells', 'News interview', 'Food production',
       'The flood', 'Beauty microphone singing', 'Fire control knowledge',
       'Spread the', 'The film and television play', 'The concert',
       'Domestic politics news', "Men's and women's indoor plot",
       'Office of the plot', 'pawnbrokers',
       'A little game _ after tomorrow', 'Car is introduced', 'The cat',
       "Men's and women's outdoor drama", 'Milk tea',
       'A little game _ through the wire', 'The legal system',
       'Psychological knowledge', 'KTV', 'Weapons and equipment',
       'Military information', 'childbirth', 'Real estate knowledge',
       'Before preparing', 'The constellation chart',
       'cooked wheaten food', 'The pet hospital', 'The station',
       'Sand bottle drawing', 'Baby take and he shot', 'The doctor',
       'Street food', 'Soldiers everyday', 'Rural housing', 'variety',
       'The panda', 'Children do their homework',
       'Assist food production', 'erhu', 'escalator', 'sprint',
       '2 d animation', 'Bust young women', 'The horse',
       'The military parade', 'The motorcycle', 'The police daily',
       'Cans of food production', 'Oil painting', 'coffee',
       'Little game _ rhythm shake the soul', 'Policy interpretation',
       'Historical knowledge', 'The English teaching', 'All men take',
       'drinks', 'The lipstick of cosmetics',
       'Public examination training', 'Jade carving',
       'Firefighters everyday', 'Singing teaching', 'Eat show',
       'Driving with pat', 'domino', 'The computer', 'Ice cream',
       'speech', 'Net full of fish', 'The scene of the fire',
       'Study abroad training', 'A little game _ joy doudizhu',
       'Positive energy news', 'Many people take dance',
       'Children take and he shot', 'Early education', 'basketball',
       'Recorded text screen', 'Games on the playground',
       'The home installs advocate material', 'desperately',
       'Stop motion animation', 'The embroidery',
       'A little game _ my world', 'A smart phone',
       'A little game _ 5 personality', 'Japanese cuisine',
       'There are three screen', 'shuangjieao', 'Silk scarves',
       'vegetable', 'A little game _ adventure', 'The campus propaganda',
       'Wedding dress', 'A little game _ cool game', 'The rabbit',
       'pocket', 'Athletics gymnastics', 'A little game _ hero alliance',
       'lakes', '南', 'Physical experiment', 'comic',
       'High-speed internal', 'Man-on-the-street interviews', 'star',
       'A little game _ love with producer', 'Comic expression package',
       'A little game _ ark tomorrow', 'The university dormitory', 'cet',
       'Middle-aged women take a bust', 'The harp', 'Watch the birds',
       'SD girl', 'Western-style wedding', 'Car shape', 'In tune',
       'weaving', 'Shoot the legs', 'Watercolor painting', 'Pole dancing',
       'Home appliance', 'decoration', 'The sketch sketch',
       'A little game _ the ball ball big fight', 'DIY',
       'The monkey chimp', 'The piano', 'Human expression of pet bags',
       'A little game _QQ coasters', 'Gesture dance', 'All women take',
       'The small game _ rich dazzle dance class', 'Hand-drawn animation',
       'The hedgehog', 'Life tips', 'A little game _ desperately',
       'Especially in the kerry', 'Black and white picture', 'Ball games',
       'clothing', 'Drives to', 'Military exercises',
       'The operating room', 'A roller coaster', 'fishing', 'The car',
       'A little game _CSGO', 'The _ swim city: skyline',
       'Study abroad life', 'The sleeper train', 'Video production',
       'Hot pot', 'crosstalk', 'barbecue', 'The chat record screen',
       'Jet aircraft', 'origami', 'chorus', 'Little game _ shake to sing',
       'The long jump', 'Take half younger men',
       'The small _ football game', 'Martial arts',
       "Women's single indoor fitness",
       'Primary and middle school classroom', 'Digital class out',
       'More meat', 'Beauty makeup the class out of the box', 'etiquette',
       'fruit', 'snacks', 'Soap decompression',
       'Give or take an injection', 'A little game master _ rhythm',
       'Ornamental fish', 'milk', '3 d and ar animation', 'football',
       'dinner', 'corn', 'A little game _ BFS legend', "Rubik's cube",
       'The polar bear', 'A little game _ gun battle', 'potted',
       'The high jump', 'A little game _ line dancing', 'Tae kwon do',
       'Hand do', 'Train ticket', 'baseball',
       'A little game _ the royal war', 'Middle-aged men take a bust',
       'The small game _ music class', 'tennis', 'Bust elderly women',
       'tambourine', 'sugar', 'The chemical experiment',
       'Bust in older men', 'humai', 'Imitation of makeup',
       'Hot air balloon', 'The lawyer', 'Modern architecture',
       'The keyboard', 'The giraffe', 'Single take dance', 'The hoop',
       'aerial', 'bear', 'News of finance and economics', 'volleyball',
       'sheng', 'Wedding photography', 'Inside the plot',
       'Korean teaching', 'The camel', 'Electronic organ', 'Our country',
       'wrestling', 'The desert', 'Swim _Apex hero', 'The gym',
       'Class orchestra instruments', 'The pig',
       'The game - a multiplayer game', 'Model aircraft',
       'A fashion show', 'Clothing store', 'The special effects',
       'A little game _ the king of fighters', 'Medical knowledge',
       'Community evaluation', 'The bar', 'Wedding banquet',
       'Photographic equipment',
       'Mobile phone software demo recording screen', 'The starry sky',
       'The fireworks', 'ski', 'The trees', 'stock',
       'Mathematics knowledge', 'The _ swim genting ground',
       'Cigarette magic', 'Exercise muscle man',
       'Tibetan dance dance Mongolia', 'Beauty parlor beauty',
       'University classroom', 'An abacus', 'Judicial training',
       'Parent-child clothing', 'Ordinary toys', 'Western food',
       'Japanese teaching', 'Hot pull to dye', 'Ice sculptures',
       'The library', 'Office skills', 'Home cooking', 'The guitar',
       'Glutinous Rice Wrapped in Bamboo Leaves', 'Eating fish', 'stamps',
       'surfing', 'The small _ chess game', 'buckyballs', 'Three holes',
       'mountain', 'Ice climbing', 'drug', 'The tiger', 'skydiving',
       'Bungee jumping', 'Wing outfit flight', 'Id card',
       'Clap your hands', 'cutting', 'Indoor decoration effect',
       'guzheng', 'The handsome boy microphone singing',
       'International politics news', 'On the street', 'Postpartum care',
       'Historical sites', 'Lion dance', 'costume', 'The prairie',
       'The shadow', 'Ladies handbags', 'trampoline', 'Hanfu female',
       'Wrought iron', 'The violin', 'Flower arranging',
       'Wear a little skill', 'The flute', 'swing',
       'Writing brush calligraphy', 'shoes', 'Latin dance', 'Pet rats',
       'stone', 'billiards', 'The language knowledge', 'Eel loach',
       'The plane', 'Cigarette case', 'Woven bamboo cane',
       'The coffee shop', 'highway', 'Wash the clothes', 'drums',
       'Pen calligraphy', 'The peacock', 'The nurse', 'oral', 'crane',
       'The _ swim epic war simulator', 'mahjong', 'The skateboard',
       'The kindergarten', 'Razors shavers', 'A little game _ mini world',
       'pastry', 'sunflower', 'The crocodile', 'The comb',
       'Play infusion bag or bottle', 'Outdoor rock climbing',
       'The supermarket', 'The hotel', 'Sand painting', 'Prenatal care',
       'The mask', 'A civil dispute', 'cart'], dtype=object)

In [ ]:
label_dict = {}
for i, sep in enumerate(seps):
    label_dict[sep] = i + 1
print(label_dict)
meta_df['i_label'] = meta_df['i_label'].apply(lambda x: label_dict[x])
    
meta_df

{'The police station': 1, 'A little game _ king glory': 2, 'The dog': 3, 'Stone sea shells': 4, 'News interview': 5, 'Food production': 6, 'The flood': 7, 'Beauty microphone singing': 8, 'Fire control knowledge': 9, 'Spread the': 10, 'The film and television play': 11, 'The concert': 12, 'Domestic politics news': 13, "Men's and women's indoor plot": 14, 'Office of the plot': 15, 'pawnbrokers': 16, 'A little game _ after tomorrow': 17, 'Car is introduced': 18, 'The cat': 19, "Men's and women's outdoor drama": 20, 'Milk tea': 21, 'A little game _ through the wire': 22, 'The legal system': 23, 'Psychological knowledge': 24, 'KTV': 25, 'Weapons and equipment': 26, 'Military information': 27, 'childbirth': 28, 'Real estate knowledge': 29, 'Before preparing': 30, 'The constellation chart': 31, 'cooked wheaten food': 32, 'The pet hospital': 33, 'The station': 34, 'Sand bottle drawing': 35, 'Baby take and he shot': 36, 'The doctor': 37, 'Street food': 38, 'Soldiers everyday': 39, 'Rural housing': 40, 'variety': 41, 'The panda': 42, 'Children do their homework': 43, 'Assist food production': 44, 'erhu': 45, 'escalator': 46, 'sprint': 47, '2 d animation': 48, 'Bust young women': 49, 'The horse': 50, 'The military parade': 51, 'The motorcycle': 52, 'The police daily': 53, 'Cans of food production': 54, 'Oil painting': 55, 'coffee': 56, 'Little game _ rhythm shake the soul': 57, 'Policy interpretation': 58, 'Historical knowledge': 59, 'The English teaching': 60, 'All men take': 61, 'drinks': 62, 'The lipstick of cosmetics': 63, 'Public examination training': 64, 'Jade carving': 65, 'Firefighters everyday': 66, 'Singing teaching': 67, 'Eat show': 68, 'Driving with pat': 69, 'domino': 70, 'The computer': 71, 'Ice cream': 72, 'speech': 73, 'Net full of fish': 74, 'The scene of the fire': 75, 'Study abroad training': 76, 'A little game _ joy doudizhu': 77, 'Positive energy news': 78, 'Many people take dance': 79, 'Children take and he shot': 80, 'Early education': 81, 'basketball': 82, 'Recorded text screen': 83, 'Games on the playground': 84, 'The home installs advocate material': 85, 'desperately': 86, 'Stop motion animation': 87, 'The embroidery': 88, 'A little game _ my world': 89, 'A smart phone': 90, 'A little game _ 5 personality': 91, 'Japanese cuisine': 92, 'There are three screen': 93, 'shuangjieao': 94, 'Silk scarves': 95, 'vegetable': 96, 'A little game _ adventure': 97, 'The campus propaganda': 98, 'Wedding dress': 99, 'A little game _ cool game': 100, 'The rabbit': 101, 'pocket': 102, 'Athletics gymnastics': 103, 'A little game _ hero alliance': 104, 'lakes': 105, '南': 106, 'Physical experiment': 107, 'comic': 108, 'High-speed internal': 109, 'Man-on-the-street interviews': 110, 'star': 111, 'A little game _ love with producer': 112, 'Comic expression package': 113, 'A little game _ ark tomorrow': 114, 'The university dormitory': 115, 'cet': 116, 'Middle-aged women take a bust': 117, 'The harp': 118, 'Watch the birds': 119, 'SD girl': 120, 'Western-style wedding': 121, 'Car shape': 122, 'In tune': 123, 'weaving': 124, 'Shoot the legs': 125, 'Watercolor painting': 126, 'Pole dancing': 127, 'Home appliance': 128, 'decoration': 129, 'The sketch sketch': 130, 'A little game _ the ball ball big fight': 131, 'DIY': 132, 'The monkey chimp': 133, 'The piano': 134, 'Human expression of pet bags': 135, 'A little game _QQ coasters': 136, 'Gesture dance': 137, 'All women take': 138, 'The small game _ rich dazzle dance class': 139, 'Hand-drawn animation': 140, 'The hedgehog': 141, 'Life tips': 142, 'A little game _ desperately': 143, 'Especially in the kerry': 144, 'Black and white picture': 145, 'Ball games': 146, 'clothing': 147, 'Drives to': 148, 'Military exercises': 149, 'The operating room': 150, 'A roller coaster': 151, 'fishing': 152, 'The car': 153, 'A little game _CSGO': 154, 'The _ swim city: skyline': 155, 'Study abroad life': 156, 'The sleeper train': 157, 'Video production': 158, 'Hot pot': 159, 'crosstalk': 160, 'barbecue': 161, 'The chat record screen': 162, 'Jet aircraft': 163, 'origami': 164, 'chorus': 165, 'Little game _ shake to sing': 166, 'The long jump': 167, 'Take half younger men': 168, 'The small _ football game': 169, 'Martial arts': 170, "Women's single indoor fitness": 171, 'Primary and middle school classroom': 172, 'Digital class out': 173, 'More meat': 174, 'Beauty makeup the class out of the box': 175, 'etiquette': 176, 'fruit': 177, 'snacks': 178, 'Soap decompression': 179, 'Give or take an injection': 180, 'A little game master _ rhythm': 181, 'Ornamental fish': 182, 'milk': 183, '3 d and ar animation': 184, 'football': 185, 'dinner': 186, 'corn': 187, 'A little game _ BFS legend': 188, "Rubik's cube": 189, 'The polar bear': 190, 'A little game _ gun battle': 191, 'potted': 192, 'The high jump': 193, 'A little game _ line dancing': 194, 'Tae kwon do': 195, 'Hand do': 196, 'Train ticket': 197, 'baseball': 198, 'A little game _ the royal war': 199, 'Middle-aged men take a bust': 200, 'The small game _ music class': 201, 'tennis': 202, 'Bust elderly women': 203, 'tambourine': 204, 'sugar': 205, 'The chemical experiment': 206, 'Bust in older men': 207, 'humai': 208, 'Imitation of makeup': 209, 'Hot air balloon': 210, 'The lawyer': 211, 'Modern architecture': 212, 'The keyboard': 213, 'The giraffe': 214, 'Single take dance': 215, 'The hoop': 216, 'aerial': 217, 'bear': 218, 'News of finance and economics': 219, 'volleyball': 220, 'sheng': 221, 'Wedding photography': 222, 'Inside the plot': 223, 'Korean teaching': 224, 'The camel': 225, 'Electronic organ': 226, 'Our country': 227, 'wrestling': 228, 'The desert': 229, 'Swim _Apex hero': 230, 'The gym': 231, 'Class orchestra instruments': 232, 'The pig': 233, 'The game - a multiplayer game': 234, 'Model aircraft': 235, 'A fashion show': 236, 'Clothing store': 237, 'The special effects': 238, 'A little game _ the king of fighters': 239, 'Medical knowledge': 240, 'Community evaluation': 241, 'The bar': 242, 'Wedding banquet': 243, 'Photographic equipment': 244, 'Mobile phone software demo recording screen': 245, 'The starry sky': 246, 'The fireworks': 247, 'ski': 248, 'The trees': 249, 'stock': 250, 'Mathematics knowledge': 251, 'The _ swim genting ground': 252, 'Cigarette magic': 253, 'Exercise muscle man': 254, 'Tibetan dance dance Mongolia': 255, 'Beauty parlor beauty': 256, 'University classroom': 257, 'An abacus': 258, 'Judicial training': 259, 'Parent-child clothing': 260, 'Ordinary toys': 261, 'Western food': 262, 'Japanese teaching': 263, 'Hot pull to dye': 264, 'Ice sculptures': 265, 'The library': 266, 'Office skills': 267, 'Home cooking': 268, 'The guitar': 269, 'Glutinous Rice Wrapped in Bamboo Leaves': 270, 'Eating fish': 271, 'stamps': 272, 'surfing': 273, 'The small _ chess game': 274, 'buckyballs': 275, 'Three holes': 276, 'mountain': 277, 'Ice climbing': 278, 'drug': 279, 'The tiger': 280, 'skydiving': 281, 'Bungee jumping': 282, 'Wing outfit flight': 283, 'Id card': 284, 'Clap your hands': 285, 'cutting': 286, 'Indoor decoration effect': 287, 'guzheng': 288, 'The handsome boy microphone singing': 289, 'International politics news': 290, 'On the street': 291, 'Postpartum care': 292, 'Historical sites': 293, 'Lion dance': 294, 'costume': 295, 'The prairie': 296, 'The shadow': 297, 'Ladies handbags': 298, 'trampoline': 299, 'Hanfu female': 300, 'Wrought iron': 301, 'The violin': 302, 'Flower arranging': 303, 'Wear a little skill': 304, 'The flute': 305, 'swing': 306, 'Writing brush calligraphy': 307, 'shoes': 308, 'Latin dance': 309, 'Pet rats': 310, 'stone': 311, 'billiards': 312, 'The language knowledge': 313, 'Eel loach': 314, 'The plane': 315, 'Cigarette case': 316, 'Woven bamboo cane': 317, 'The coffee shop': 318, 'highway': 319, 'Wash the clothes': 320, 'drums': 321, 'Pen calligraphy': 322, 'The peacock': 323, 'The nurse': 324, 'oral': 325, 'crane': 326, 'The _ swim epic war simulator': 327, 'mahjong': 328, 'The skateboard': 329, 'The kindergarten': 330, 'Razors shavers': 331, 'A little game _ mini world': 332, 'pastry': 333, 'sunflower': 334, 'The crocodile': 335, 'The comb': 336, 'Play infusion bag or bottle': 337, 'Outdoor rock climbing': 338, 'The supermarket': 339, 'The hotel': 340, 'Sand painting': 341, 'Prenatal care': 342, 'The mask': 343, 'A civil dispute': 344, 'cart': 345}

      item_id  i_authorid  i_label  i_duration  i_vvall  i_likecnt
0           1           2        1          58  2739780      28361
1           2           3        2          30    24236         83
2           3           4        3          49  3866245      82631
3           4           5        4          48    15475         43
4           5           6        5          31   136148       1898
...       ...         ...      ...         ...      ...        ...
2679     2680        4861       73         295  5186939     104918
2680     2681        4862      160          76  5964301      48019
2681     2682        4863       11          38  4743061     282844
2682     2683        4864        5          13  2299271      12634
2683     2684        4865       87          11  3876103     112832

[2684 rows x 6 columns]

In [ ]:
# save results

item_df.to_csv(os.path.join(RAW_PATH, 'item_meta.csv'), sep='\t', index=False)